img {
    max-width: 100%;
    display: block;
}

.container {
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_info {
    margin-bottom: 1.5em;
}

.title_info > h1 {
    font-weight: 600;
    font-size: 2rem;
}

.title_info > h4 {
    font-weight: normal;
}

.image_layout {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0.5em;
}

.main_image {
    border-radius: 1em;
}

.image_grid {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 0.5em;
}

.grid_image {
    height: 100%;
    object-fit: cover;
    object-position:/ center;
    border-radius: 1em;
}

.spot_info {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px black;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.host {
    font-weight: 500;
    font-size: 1.7rem;
}

.review_header {
    margin: 1em 0;
}

.review_elements {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.be_first {
    font-size: 1.2rem;
    font-weight: 500;
}

.post_review_button {
    background: #fd5c63;
    color: white;
    font-weight: 500;
    border-radius: 1em;
    padding: 1em 2em;
    transition: all 0.1s ease-in-out;
    margin-bottom: 1em;
}

.post_review_button:hover,
.post_review_button:focus {
    transform: scale(1.02)
}
