.button {
    background: #fd5c63;
    color: white;
    font-weight: 500;
    border-radius: 1em;
    padding: 1em 2em;
    transition: all 0.1s ease-in-out;
    margin-bottom: 1em;
}

.button:hover,
.button:focus {
    transform: scale(1.02)
}
