.item {
    cursor: pointer;
    width: 100%;
    padding: 1em 6em 1em 1em;
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
    text-align: left;
}

.item:hover,
.item:focus {
    background-color: rgb(240 240 241);
}
